/*========COMMON STYLES========*/

ul,ol {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
font-family: "Montserrat", sans-serif;
background: #fafafa;
color: #111111;
}
button {
    cursor: pointer;
}

.section-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    text-align: center;
    
}

.accent-color {
    color: #fd9222;
}

/* ================ HEADER STYLES ================ */

.page-logo {

font-weight: 700;
font-size: 18px;
line-height: 1.11;
letter-spacing: -0.03em;

}

.text-italic {
    font-style: italic;
}

.menu-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: -0.02em;
    
}

.menu-link:hover,
.menu-link:focus {
color: #fd9222;
}

/* ================ HERO STYLES ================ */


.main-title {
    font-weight: 500;
    font-size: 28px;
    line-height: 1.21;
    letter-spacing: -0.03em;
    
}


.buy-now-btn {
    font-weight: 600;
    font-size: 14px;
    color: #ffffff;
    background: #fd9222;
}

.buy-now-btn:hover,
.buy-now-btn:focus {
    color: #fd9222;
    background: #fcf1e0;
}

.how-made-link {
    font-weight: 600;
    font-size: 14px;
    
}

.how-made-link:hover,
.how-made-link:focus {
    color: #fd9222;

}

.scroll-down-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.03em;
        
}

.scroll-down-link:hover,
.scroll-down-link:focus {
    color: #fd9222;
}


/* ================ /BENEFITS STYLES ================ */

.benefits-list-title {
    font-weight: 600;
     font-size: 18px;
        
}

.benefits-list-text {
    font-weight: 400;
    font-size: 14px;
    letter-spacing: -0.02em;
        
}

/* ================ INGREDIENTS STYLES ================ */

.ingredients-description {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
     text-align: center;
        
}

.ingredients-list-title {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    text-transform: uppercase;
        
}


/* ================ HOW MADE STYLES ================ */


.how-made-title {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.33;
        
}

.how-made-list-item {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
}


/* ================ REVIEWS STYLES ================ */

.reviews-list-fullname {
    font-weight: 600;
    font-size: 18px;
     line-height: 1.33;
    text-align: center
}

.reviews-list-text {
    
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    text-align: center;
}

.leave-review-btn {
    font-weight: 600;
    font-size: 18px;
}

.leave-review-btn:hover,
.leave-review-btn:focus {
    background: #fd9222;
    color: #ffffff;
}

/* ================ PAGE FOOTER STYLES ================ */


.page-footer-title {
    font-weight: 500;
    font-size: 28px;
    line-height: 1.21;
    letter-spacing: -0.02em;
}

.contact-block {
    font-style: normal;
}

.contact-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    
}

.contact-list-link  {
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    
}

.contact-list-link:hover,
.contact-list-link:focus {
    color: #fd9222;
}